@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


a.sobre,
a.skills,
a.hobbies,
a.formacao,
a.projetos,
a.contato {
    color: black;
    text-decoration: none;
}

a.sobre:visited,
a.skills:visited,
a.hobbies:visited,
a.formacao:visited,
a.projetos:visited,
a.contato:visited {
    color: black;
    text-decoration: none;
}


body{
    background-color: white;
    background-image: linear-gradient(to top, gray, white);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    
}

/* navegação */

.navegacao{
    width: auto;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;   
    font-family: "Roboto Condensed", sans-serif;
    font-size: 100%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
    

}

.div__nav{

    display: flex;
    align-items: center;
    gap: 10px;

}

/* Main body */

.main_text{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 4px;
    align-items: center;

}

.section_geral{
    background-color: rgb(75, 59, 59);
    width: 70%;
    height: 40rem;
    border-radius: 10px;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    
}

.ancora__Section{
    position: absolute;
    right: 0;

}

.h1_geral{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2rem;
    margin-bottom: 40px;
    gap:10px;
    margin-top: 3px;
    margin-bottom: 10px;
    

}

.p_geral{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
    margin-bottom: 40px;
    gap:10px
}

video {
    width: 50%; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  }
  

/* Smart / tablet */

@media (max-width: 300px) {

    .div_nav_1{
        display: none;
    }

    .navegacao {
        justify-content: space-around;
        width: auto;
        height: auto;
        flex-wrap: wrap;
        gap: 5px;
        margin-left: 5px;
        margin-right: 5px ;
        margin-bottom: 10px;
    }

    .main_text{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 4px;
        flex-wrap: wrap;
    }
}

