@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a.sobre,
a.skills,
a.hobbies,
a.formacao,
a.projetos,
a.contato {
    color: black;
    text-decoration: none;
}

a.sobre:visited,
a.skills:visited,
a.hobbies:visited,
a.formacao:visited,
a.projetos:visited,
a.contato:visited {
    color: black;
    text-decoration: none;
}


body{
    
    background-image: linear-gradient(to top, gray, white);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    
}

.navegacao{
    width: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;   
    overflow-x: scroll;
    text-overflow: initial;
    font-family: "Roboto Condensed", sans-serif;
    margin-bottom: 5%;
    

}

.div__nav{

    display: flex;
    align-items: center;
    gap: 10px;

}

.main_text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 4px;

}

.section_geral{
    width: auto;
    height: 50rem;
    border-radius: 10px;
    border: 1px solid black;
}

.h1_geral{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2rem;
    gap: 20px;

}


@media (max-width: 600px) {
    .navegacao {
        justify-content: space-around;
        width: auto;
        height: 70px;
        flex-wrap: wrap;
        gap: 5px;
        margin-left: 5px;
        margin-right: 5px ;
    }

    .main_text{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 4px;
        flex-wrap: wrap;
    }
}

