* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    
    background-image: linear-gradient(to top, gray, white);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    
}

.navegacao{
    width: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    gap: 10px;
    

}
.main_text{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.section_geral{
    border-radius: 10px;
    border: 1px solid black;
    

}

.h1_geral{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    gap: 20px;

}

