* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    display: flex;
    background-image: linear-gradient(to top, gray, white);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

